/* layout settings */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.15px;

  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Button, состояния  */
.button {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: black;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  background: none;
  border: none;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: inherit;
  height: 8px;
  margin-top: -4px;

  background-color: #f0c52e;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
}

.button:active::after {
  content: none;
}

.section-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: black;
}

.block-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: black;
}

/* Header */
.header {
  position: relative;

  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.header::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: calc(100% + 120px);

  background-color: #f0c52e;
  opacity: 0.5;
}

/* Logo */
.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

/* User menu */
.menu {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-top: -3px;
}

/* Form search */
.menu__item_search {
  width: 500px;
  margin-right: 40px;
}

.search {
  display: flex;
  align-items: center;
}

.search__input {
  width: 355px;
  padding: 14px 40px;

  color: black;

  background-image: url("../img/svg/search.svg");
  background-position: 0 center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

/* Изменение цвета текста для placeholder */
.search__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__input:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.search-button {
  padding: 13px;

  color: black;
  vertical-align: middle;
  text-align: center;

  background: none;
  border: solid 2px #000000;
  cursor: pointer;
}

.menu__item {
  position: relative;
}

.menu__item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;

  background-repeat: no-repeat;

  cursor: pointer;
}

.menu__item_login {
  width: 287px;
  padding-left: 8px;
}

.menu__item_compare {
  width: 132px;
}

.menu__item_login::before {
  width: 13px;
  height: 12px;

  background-image: url("../img/svg/user.svg");
}

.menu__item_compare::before {
  width: 10px;
  height: 10px;

  background-image: url("../img/svg/compare.svg");
}

.menu__item_cart::before {
  width: 12px;
  height: 12px;

  background-image: url("../img/svg/cart.svg");
}

.menu__link {
  display: block;
  padding: 20px;

  vertical-align: middle;
  color: black;
}

.menu__link:hover,
.menu__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Main menu */
.menu_main {
  margin-top: -4px;
  margin-left: -20px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.menu__item_catalog {
  width: 540px;
}

.menu__link_catalog {
  position: relative;
}

.menu__link_catalog::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 250px;

  width: 16px;
  height: 16px;

  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.menu_catalog {
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-transform: none;
}

.menu__item_warranty {
  margin-left: -5px;
}

.menu__item_contacts {
  margin-left: 67px;
}

/* Main */
/* Slider */
.main__slider {
  margin-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.slider__item {
  display: flex;
  margin-bottom: 30px;
}

.slider__img-wrap {
  width: 500px;
  padding-left: 30px;
  margin-right: 40px;
}

.slider__desc-wrap {
  position: relative;

  width: 540px;
  padding-top: 30px;
}

.slider__desc-wrap::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: white;
}

.section-title_slider {
  margin-top: 47px;
  margin-bottom: 20px;

  line-height: 56px;
}

.slider__text {
  margin-top: 0;
  margin-bottom: 40px;
  padding-right: 50px;
}

.slider__controls-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_slider {
  width: 220px;
}

.slider__controls {
  margin-right: 65px;
}

.slider__controls-control {
  position: relative;

  width: 12px;
  height: 12px;
  margin-right: 15px;

  background-color: white;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls-control:last-child {
  margin-right: 0;
}

.slider__controls-control_current::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 6px;
  height: 6px;

  border: 1px solid #000000;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}

.slider__controls-wrap {
  display: flex;
}

.slider-advantages {
  display: flex;
  flex-wrap: wrap;
}

.slider-advantages__item {
  margin-right: 80px;
}

.slider-advantages__item:last-child {
  margin-right: 0;
}

.slider-advantages__desc {
  margin-top: 50px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: black;
}

.slider-advantages__title {
  margin-top: -30px;

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

/* Main goods */
.main__main-goods {
  margin-top: 95px;
  padding-left: calc((100% - 1200px)/2);
  padding-right: calc((100% - 1200px)/2);
}

.main-goods__list {
  display: flex;
  flex-wrap: wrap;
}

.main-goods__item {
  width: 160px;
  margin-right: 40px;
  padding-bottom: 30px;
}

.main-goods__item:last-child {
  margin-right: 0;
}

.main-goods__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: black;
}

.main-goods__img-wrap {
  position: relative;

  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.main-goods__link:hover .main-goods__img-wrap,
.main-goods__link:focus .main-goods__img-wrap {
  background-color: rgba(240, 197, 46, 1);

  transition: all 0.2s linear;
}

.main-goods__link:active .main-goods__img-wrap::after,
.main-goods__link:active .main-goods__title {
  opacity: 0.3;
}

.main-goods__img-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 132px;
  height: 117px;

  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.main-goods__img-wrap_camera::after {
  width: 71px;
  height: 87px;

  background-image: url("../img/svg/main-goods-camera.svg");
}

.main-goods__img-wrap_vr::after {
  width: 97px;
  height: 55px;

  background-image: url("../img/svg/main-goods-vr.svg");
}

.main-goods__img-wrap_selfie:after {
  top: 63%;
  
  width: 86px;
  height: 117px;

  background-image: url("../img/svg/main-goods-selfie.svg");
}

.main-goods__img-wrap_fitness:after {
  width: 107px;
  height: 65px;

  background-image: url("../img/svg/main-goods-fitness.svg");
}

.main-goods__img-wrap_watch:after {
  width: 56px;
  height: 98px;

  background-image: url("../img/svg/main-goods-watch.svg");
}

.main-goods__img-wrap_copter:after {
  width: 132px;
  height: 69px;

  background-image: url("../img/svg/main-goods-copter.svg");
}

.main-goods__title {
  margin-top: 35px;
}

/* Services */
.main__services {
  margin-top: 30px;
}

.services {
  position: relative;

  padding-left: calc((100% - 1200px)/2);
  padding-right: calc((100% - 1200px)/2);
}

.services::before {
  content: "";
  position: absolute;
  top: 98px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: calc(100% - 30px);

  background-color: #e5e5e5;
}

.services__item {
  display: flex;
}

.services__controls-wrap {
  width: 285px;
  min-height: 320px;
  margin-right: 110px;
  padding-top: 80px;

  border-right: 7px solid #000;
}

.button_services {
  width: 160px;
  margin-bottom: 20px;
}

.button_services::after {
  width: 160px;
}

.button_services:active,
.button_services-current {
  width: 278px;
  color: #f7e184;

  background-color: black;
}

.button_services:active::after,
.button_services-current::after {
  content: none;
}

.services__desc-wrap {
  position: relative;

  width: 755px;
}

.services__item_delivery .services__desc-wrap::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 40px;

  width: 136px;
  height: 164px;

  background-image: url("../img/svg/delivery.svg");
  background-repeat: no-repeat;

}

.services__text {
  max-width: 460px;
}

/* Main brands */
.main__main-brands {
  margin-top: 100px;
}

.main-brands__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-brands__item {
  padding-bottom: 40px;
}

.main-brands__link {
  display: block;
  width: 260px;
  height: 100px;

  opacity: 0.2;
}

.main-brands__link:hover,
.main-brands__link:focus {
  opacity: 1;

  transition: all 0.3s linear;
}

.main-brands__link_dji {
  background-image: url("../img/logo-dji-gray.png");
}

.main-brands__link_dji:hover,
.main-brands__link_dji:focus {
  background-image: url("../img/logo-dji.png");
}

.main-brands__link_spg {
  background-image: url("../img/logo-spg-gray.png");
}

.main-brands__link_spg:hover,
.main-brands__link_spg:focus {
  background-image: url("../img/logo-spg.png");
}

.main-brands__link_gopro {
  background-image: url("../img/logo-gopro-gray.png");
}

.main-brands__link_gopro:hover,
.main-brands__link_gopro:focus {
  background-image: url("../img/logo-gopro.png");
}

.main-brands__link_vive {
  background-image: url("../img/logo-vive-gray.png");
}

.main-brands__link_vive:hover,
.main-brands__link_vive:focus {
  background-image: url("../img/logo-vive.png");
}

/* Обёртка для колонок */
.index-columns {
  display: flex;
}

/* About */
.about {
  position: relative;

  width: 560px;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about__list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: black;
}

.about__item {
  position: relative;

  margin-left: 35px;
}

.about__item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -34px;

  width: 8px;
  height: 8px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.button_about {
  width: 260px;
}

/* Contacts */
.contacts {
  position: relative;

  width: 560px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts__map {
  display: block;
  width: 560px;
  height: 222px;
  background-color: #d9d9d9;
}

.button_contacts {
  width: 260px;
}

/* Footer */
.footer {
  margin-top: 85px;
  padding-top: 65px;
  padding-bottom: 65px;

  color: white;

  background-color: #464646;
}

/* Footer navigation */
.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  margin-left: -20px;
}

.footer .menu__link,
.footer .phone {
  color: inherit;
}

.footer .menu__link:hover,
.footer .menu__link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer .menu__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation .menu_user {
  margin-right: -20px;
}


/* Footer info */
.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info__address,
.phone {
  font-style: normal;
  letter-spacing: normal;
}

.footer-info__address {
  margin-right: auto;
}

.footer-info__phone {
  margin-left: auto;
}

/* Footer socials */
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__line {
  width: 80px;
  height: 7px;
  margin-right: auto;

  background-color: #ffc600;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  margin-right: 22px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.socials__link::before {
  content: "";
  position: absolute;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
}

.socials__link_fb::before {
  background-image: url("../img/svg/fb.svg");
}

.socials__link_insta::before {
  background-image: url("../img/svg/instagram.svg");
}

.socials__link_tw::before {
  background-image: url("../img/svg/twitter.svg");
}

.socials__link:hover,
.socials__link:focus {
  opacity: 0.6;
}

.socials__link:active {
  opacity: 0.1;
}

.copyright {
  margin-left: auto;
}

.copyright__link:hover,
.copyright__link:focus {
  opacity: 0.6;
}

.copyright__link:active {
  opacity: 0.1;
}


/* Страница Каталог */
/* Breadcrumbs */
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 39px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -19px;

  width: 4px;
  height: 7px;

  background-image: url("../img/svg/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:first-child::after {
  background: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

/* Обёртка для колонок */
.catalog-columns {
  display: flex;
}

/* Filters */
.main__filter {
  width: 260px;
  margin-right: auto;
}

.filter {
  line-height: 1.25;
  color: #283136;
}

.selection {
  margin: 0;
  padding: 0;

  border: none;
}

.selection_margin-grid {
  margin-top: 60px;
}

.selection_margin-features {
  margin-top: 28px;
}

.selection__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.range {
  width: 260px;
  margin-top: 50px;
}

.range__controls {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;

  background-color: #eee;
  border-radius: 4px;
}

.range__scale {
  width: 225px;
  height: 2px;

  background-color: #d7dcde;
}

.range__bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range__toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range__toggle_min {
  left: 15px;
}

.range__toggle_max {
  left: 160px;
}

.controls {
  margin-top: 14px;

  font-size: 0;
  text-transform: uppercase;
  color: #283136;
}

.controls__label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  vertical-align: middle;
}

.controls__label:last-child {
  text-align: right;
}

.controls__input {
  width: 80px;
  margin-left: 10px;
  padding: 10px 5px;

  font-size: 16px;
  text-align: center;

  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
}

/* Убирает стрелки у .controls__input type="number" */
.controls__input[type="number"]::-webkit-outer-spin-button,
.controls__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controls__input[type="number"] {
  -moz-appearance: textfield;
}

.controls__input[type="number"]:hover,
.controls__input[type="number"]:focus {
  -moz-appearance: number-input;
}

.controls__input[type="number"]::-webkit-inner-spin-button,
.controls__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selection__list {
  margin-top: 20px;

  color: #283136;
}

.selector__label {
  position: relative;

  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
}

.selector__label::before {
  content: "";

  position: absolute;
  top: -3px;

  width: 25px;
  height: 25px;
  margin-left: -35px;

  background-repeat: no-repeat;
  opacity: 0.4;
}

.selector__label_radio::before {
  background-image: url("../img/svg/radio-off.svg");
}

.selector__label_checkbox::before {
  background-image: url("../img/svg/checkbox-off.svg");
}

.selector__input:not(:disabled):hover+.selector__label::before,
.selector__input:not(:disabled):focus+.selector__label::before {
  opacity: 1;
}

/* Состояния для радиокнопки и чекбокса */
.selector__input:checked+.selector__label_radio::before {
  background-image: url("../img/svg/radio-on.svg");
}

.selector__input:checked+.selector__label_checkbox::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.selector__input:disabled+.selector__label::before {
  opacity: 0.1;
}

.filter-form__button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Sorting */
.sorting {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 18px;
  color: black;
}

.sorting__list {
  display: flex;
  align-items: center;
  margin-left: 55px;
}

.sorting__item {
  margin-right: 30px;
}

.sorting__item:last-child {
  margin-right: 0;
}

.sorting__link {
  display: block;

  font: inherit;
  color: inherit;

  opacity: 0.3;
}

.sorting__link_current {
  opacity: 1;
}

.link-direction {
  width: 11px;
  height: 10px;

  background-repeat: no-repeat;
  border: none;
  opacity: 0.2;

  cursor: pointer;
}

.link-direction_up {
  background-image: url("../img/svg/icon-up.svg");
}

.link-direction_down {
  background-image: url("../img/svg/icon-down.svg");
}

.sorting__link_current {
  opacity: 1;
}

/* Catalog */
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__info {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.catalog__link {
  display: inline-block;
  max-width: 250px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: black;
}

.catalog__hover {
  display: none;
}

/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 800px;
  padding: 30px;

  background-color: #ebebeb;
}

.pagination__item {
  margin-right: 30px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: black;

  opacity: 0.3;
}

.pagination__link_back,
.pagination__link_current,
.pagination__link_next {
  opacity: 1;
}

/* Modal */
/* Modal write */
.modal {
  position: fixed;
  top: 150px;
  left: 50%;
  z-index: 2;

  display: none;
  width: 960px;
  margin-left: -480px;
  padding: 100px;

  background-color: white;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal__show {
  display: block;

  -webkit-animation: bounce 0.6s;

  animation: bounce 0.6s;
}

.modal__error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.write__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.write__label {
  display: block;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: black;
}

.write__label_textarea {
  margin-top: 33px;
}

.write__input,
.write__textarea {
  margin-top: 10px;
}

.write__textarea {
  min-height: 118px;

  resize: vertical;
}

.write input[type="text"],
.write input[type="email"],
.write textarea {
  width: 100%;
  padding: 14px;

  font-size: 14px;
  line-height: 18px;
  color: black;

  background-color: #f2f2f2;
  border: none;
}

/* Изменение цвета текста для placeholder в форме */
.write input::-webkit-input-placeholder,
.write textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write input::-moz-placeholder,
.write textarea::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write input:-ms-input-placeholder,
.write textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write input::-ms-input-placeholder,
.write textarea::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write input::placeholder,
.write textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write input:hover,
.write textarea:hover {
  background-color: #eaeaea;
}

.write input:focus,
.write textarea:focus {
  background-color: white;
  outline: 3px solid #f0c52e;
}

.write input:invalid,
.write textarea:invalid {
  background-color: #f6dada;
}

.write__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.write__label_name,
.write__label_email {
  width: 360px;
}

.write__error {
  display: none;
  margin-top: 20px;

  color: #fb565a;
}

.write__error_show {
  display: block;
}

.modal__button {
  margin-top: 40px;
  padding-left: 85px;
  padding-right: 85px;
}

.modal__close {
  position: absolute;
  top: 76px;
  right: 22px;
  width: 55px;
  height: 55px;

  background-image: url("../img/svg/modal-close.svg");
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;

  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  opacity: 1;
}

.modal__close:active {
  opacity: 0.3;
}